.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  justify-content: space-evenly;
}

.link {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px gray;
}

.link:hover {
  background-color: gold;
  box-shadow: 0px 0px 5px 5px gold;
  color: black;
  border: 1px solid black;
}

a {
  color: white;
  text-decoration: none;
}
